/MqttServerTest/.vs/MqttServerTest/v16/.suo
/MqttServerTest/.vs/MqttServerTest/v16/Server/sqlite3/db.lock
/MqttServerTest/.vs/MqttServerTest/v16/Server/sqlite3/storage.ide
/MqttServerTest/ClientTest/bin
/MqttServerTest/ClientTest/obj
/MqttServerTest/SeverTest/bin
/MqttServerTest/SeverTest/obj
/MqttServerTest/packages
